body { font-family: Inter, sans-serif; margin: 0; background: #ffffff; color: #1a1a1a; text-align:center; }


/* Header estilo palabra-logo ocupando todo lo ancho */
.hero { background:#6a0dad; padding:70px 0; box-shadow: 0 4px 18px rgba(106, 13, 173, 0.25);} /* Morado principal */
.logo { display: flex; justify-content: center; align-items: center; }
.logo img { height: 200px; width: auto; display: block; }



.descripcion { padding:30px 20px; font-size:16px; color:#555; }


.acciones { padding:20px; display:flex; flex-direction:column; gap:14px; max-width:300px; margin:auto; }


.btn {
padding: 12px 18px;
background: #6a0dad; /* Morado principal */
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 15px;
font-weight: 600;
}


.btn-sec {
padding: 12px 18px;
background: #f3e8ff; /* Morado pastel claro */
color: #6a0dad;
border: none;
border-radius: 8px;
cursor: pointer;
font-size: 15px;
font-weight: 600;
}


.oculto { display:none; }


input, select { width:100%; padding:12px; margin:10px 0; border-radius:8px; border:1px solid #cbd5e1; }
select { width:100%; padding:12px; margin:10px 0; border-radius:8px; border:1px solid #cbd5e1; }